<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Meadowlark Travel</title>
{{!-- use header sections here --}}
 {{{_sections.head}}}

    

	{{!-- adding bootstrap --}}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	

	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{else}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	{{/if}}
   
</head>
<body>
	<div class="container">
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>

		{{#if flash}}
			<div class="alert alert-dismissible alert-{{flash.type}} fade in role="alert">
			<button type="button" class="close"
			data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<strong>{{flash.intro}}</strong> {{{flash.message}}}
			</div>
		{{/if}}

	    {{{body}}}
	</div>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 {{!-- use script sections here --}}
 {{{_sections.jquery}}}

    {{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}



</body>
</html>